@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  .text-green {
    fill: $green-700;
    color: $green-700;
  }
  .text-green__hover:hover {
    color: $green-500;
    fill: $green-500;
  }

  .bg-gray {
    background-color: rgba(0, 0, 0, 0.03);
  }
  .bg-gray-400 {
    background-color: $gray-400;
  }
  .bg-gray-600 {
    background-color: $gray-600;
  }

  .rounded-top-left {
    border-top-left-radius: $border-radius;
  }

  .p-1vw {
    padding: 0 2vw;
  }

  .p-3vw {
    padding: 0 6vw;
  }
}
